@import './_variables.scss';
@import './_mixins.scss';

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;

  font-family: $font-family-text;
  font-size: 14px;
  line-height: $line-height;
  font-weight: normal;
  color: $color;
}
input, textarea, select, button {
  font-family: $font-family-text;
}


/*
 * MemberCard
 */

.MemberCard {
  position: relative;
  cursor: pointer;
}
.MemberCard--loading .MemberCard__content {
  opacity: 0.4;
}
.MemberCard__photo {
  position: relative;
  margin-bottom: $padding;
}
.MemberCard__photo__img {
  border-radius: 50%;
}
.MemberCard--loading-photo .MemberCard__photo__icon {
  opacity: 0.6;
}
.MemberCard__photo__loading {
  position: absolute;
  opacity: 0.3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MemberCard__photoEmpty {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 6px dashed rgba(black, 0.4);
  border-radius: 50%;
}
.MemberCard__spinner {
  position: absolute;
  top:  calc(50%);
  left: calc(50% - 4px);
  transform: translate(-50%, -50%);
}


/*
 * MemberEditor
 */

.MemberEditor {}
.MemberEditor .DropZone {
  padding: (2 * $padding);
}
.MemberEditor__photo {
  margin: (2 * $padding) 0;
}
.MemberEditor__photo__img {
  border-radius: 50%;
}
.MemberEditor__table td {
  padding-bottom: 0.5em;
}


/*
 * LoginPage
 */

.LoginPage {
  padding: (6 * $padding);
}
.LoginPage__controls {
  width: 100%;
  max-width: 400px;
}
.LoginPage__input {
  width: 100%;
  margin-bottom: 1em;
}
.LoginPage__button {}


/*
 * Settings
 */

.Settings {
  overflow: auto;
  padding: (4 * $padding) (6 * $padding);
}
.Settings__section {
  margin-bottom: (8 * $padding);
}
.Settings__defaultTasks {
  border: 1px solid $border-color;
  margin-bottom: (2 * $padding);
}
.Settings__defaultTasks__task {
  padding-left: (2 * $padding);
  line-height: 30px;

  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
}
.Settings__defaultTasks__task__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/*
 * MembersPage
 */

.MembersPage {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.MembersPage__link {
  display: flex;
  flex-direction: row;
  padding: (2 * $padding) (2 * $padding) 0;
}
.MembersPage__listContainer {
  overflow: auto;
  padding: 0 (6 * $padding);
  padding-top: (4 * $padding);
}
.MembersPage__list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-between;
}
@media (min-width: $breakpoint-sm) { .MembersPage__list {
  grid-template-columns: 22% 22% 22% 22%;
}}
@media (min-width: $breakpoint-md) { .MembersPage__list {
  grid-template-columns: 18% 18% 18% 18% 18%;
}}
@media (min-width: $breakpoint-lg) { .MembersPage__list {
  grid-template-columns: 14% 14% 14% 14% 14% 14%;
}}
.MembersPage__member {
  cursor: pointer;
  padding-bottom: $padding;
}
.MembersPage__photo {
  margin-bottom: $padding;
}
.MembersPage__controls {
  padding: (2 * $padding) (6 * $padding);
  background-color: $bg-color-dark;
  border-top: 1px solid $border-color;
}


/*
 * TasksPage
 */

.TasksPage {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.TasksPage__listContainer {
  overflow: auto;
  padding: 0 (6 * $padding);
  padding-top: (4 * $padding);
}
.TasksPage__list {
}
@media (min-width: $breakpoint-sm) { .TasksPage__list {
}}
@media (min-width: $breakpoint-md) { .TasksPage__list {
}}
.TasksPage__run__notes {
}
.TasksPage__run__date {
  align-self: flex-start;
}


.Category {
  margin-bottom: $padding;
}
.Category__section {
  position: relative;
  overflow: hidden;
  padding-left: 4*$padding;
  border: 1px solid $border-color-dark;
  border-radius: 2px;
  background-color: $bg-color-dark;
}
.Category__color {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  height: 105%;
  width: 4*$padding;
  border: none;
  border-radius: 0;
}
.Category__name {
  padding: $padding;
  margin-left: $padding;
}
.Category__tasks {
  padding-left: 4*$padding;
  padding-bottom: 2*$padding;
}
.Category__controls {
  padding-left: 4*$padding;
  padding-bottom: 4*$padding;
}
.Category__toggle {
  .expanded & {
    transform: rotate(-90deg);
  }
}

.Task {
  position: relative;
  overflow: hidden;
  border: 1px solid $border-color;
  border-top: none;
  padding-left: $padding;
}
.Task:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.Task__name {
  overflow: hidden;
}




/*
 * SchedulePage
 */

.SchedulePage {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.SchedulePage.dragging .Run__members {
  background: linear-gradient(135deg,
    rgba(0, 0, 0, 0.1) 12.5%,
    transparent 12.5%,
    transparent 37.5%,
    rgba(0, 0, 0, 0.1) 37.5%,
    rgba(0, 0, 0, 0.1) 62.5%,
    transparent 62.5%,
    transparent 87.5%,
    rgba(0, 0, 0, 0.1) 87.5%);
  background-size: 20px 20px;
}
.SchedulePage__dateControls {
  background-color: $bg-color-dark;
  border-bottom: 1px solid $border-color;
}
.SchedulePage__members {
  background-color: $bg-color-dark;
  border-bottom: 1px solid $border-color;
}
.SchedulePage__container {
  overflow-y: scroll;
}
@media (min-width: $breakpoint-sm) { .SchedulePage__container {
}}
@media (min-width: $breakpoint-md) { .SchedulePage__container {
  // width: 800px;
  // margin: 0 auto;
}}
.SchedulePage__emptyMessage {
  margin: 0.5em 0;
}
.SchedulePage__controls {
  padding: (2 * $padding) (2 * $padding);
  background-color: $bg-color-dark;
  border-top: 1px solid $border-color;
}
.SchedulePage__members {
  overflow-x: scroll;
}
.SchedulePage__member {
  display: inline-block;
  width: 100px;
  padding: $padding;
  padding-bottom: 0;
}
.SchedulePage__dragIndicator {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}


.Run {
  margin: (2*$padding);
  margin-bottom: (4*$padding);
  background-color: $bg-color-dark;
  border: 1px solid $border-color-dark;
  border-radius: 2px;
  padding: 0;
}
.Run__title {
  position: relative;
  overflow: hidden;
  padding-left: 2 * $padding;
  margin-bottom: $padding;
  & .title {
    font-size: 11px;
  }
}
// .Run__title__color {
//   position: absolute;
//   display: inline-block;
//   width: 5px;
//   height: 100%;
//   top: 0;
//   left: 0;
// }
.Run__members {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 2*$padding;
}


.ScheduleTaskPicker__modal .Modal__header {
  padding: 0;
}
.ScheduleTaskPicker__modal .Modal__container {
  padding: 0;
}
.ScheduleTaskPicker__tasks {
  overflow: auto;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}
.ScheduleTaskPicker__category__name,
.ScheduleTaskPicker__task {
}
.ScheduleTaskPicker__category__name {
  background-color: $bg-color-dark;
  padding: $padding (4 * $padding);
}
.ScheduleTaskPicker__task {
  position: relative;
  font-size: 18px !important;
  font-weight: normal !important;
  border: none;
  padding: (2 * $padding) (4 * $padding);
  border-bottom: 1px solid $border-color-subtle;
  &:first-child {
    border-top: 1px solid $border-color-subtle;
  }
}
.ScheduleTaskPicker__task__color {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
}
.ScheduleTaskPicker__task__name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/*
 * ReportsPage
 */

.ReportsPage {
  width: 100%;
  height: 100%;
  overflow: hidden;
  // padding: (4 * $padding) (6 * $padding) 0;
}
.ReportsPage__list {
}
@media (min-width: $breakpoint-sm) { .ReportsPage__list {
}}
@media (min-width: $breakpoint-md) { .ReportsPage__list {
}}
.ReportsPage__controls {
  padding: (2 * $padding) (6 * $padding);
  background-color: $bg-color-dark;
  border-top: 1px solid $border-color;
}
