@import './_variables.scss';
@import './_mixins.scss';

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;

  font-family: $font-family-text;
  font-size: 14px;
  line-height: $line-height;
  font-weight: normal;
  color: $color;
}
input, textarea, select, button {
  font-family: $font-family-text;
}


/*
 * Settings
 */

.Settings__content {
  padding: (4 * $padding) (6 * $padding);
}

.Settings__table td {
  padding: 0;
}
.Settings__table td:first-child {
  width: 200px;
}
.Settings__table td .editable.label {
  width: 100%;
}
.Settings__table__first td:first-child {
  width: 100%;
}


.FilterCategories__input {
  height: 40px !important;
  align-items: normal !important;
}


/*
 * MembersPage
 */

.MembersPage {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.MembersPage__listContainer {
  overflow: auto;
  padding: 0 (6 * $padding);
  padding-top: (4 * $padding);
}
.MembersPage__list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-between;
}
@media (min-width: $breakpoint-sm) { .MembersPage__list {
  grid-template-columns: 22% 22% 22% 22%;
}}
@media (min-width: $breakpoint-md) { .MembersPage__list {
  grid-template-columns: 18% 18% 18% 18% 18%;
}}
.MembersPage__member {
  cursor: pointer;
}
.MembersPage__photo {
  margin-bottom: $padding;
}
.MembersPage__controls {
  padding: (2 * $padding) (6 * $padding);
  background-color: $bg-color-dark;
}


/*
 * TasksPage
 */

.TasksPage {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.TasksPage__listContainer {
  overflow: auto;
  padding: 0 (6 * $padding);
  padding-top: (4 * $padding);
}
.TasksPage__list {
}
@media (min-width: $breakpoint-sm) { .TasksPage__list {
}}
@media (min-width: $breakpoint-md) { .TasksPage__list {
}}
.TasksPage__controls {
  padding: (2 * $padding) (6 * $padding);
  background-color: $bg-color-dark;
}


.Category__section {
  position: relative;
  overflow: hidden;
  border: 1px solid $border-color;
  margin-bottom: 2 * $padding;
  border-radius: 2px;
  padding-left: 4*$padding;
}
.Category__color {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  height: 105%;
  width: 4*$padding;
  border: none;
  border-radius: 0;
}
.Category__name {
  padding: $padding;
}
.Category__tasks {
  padding-left: 4*$padding;
  padding-bottom: 4*$padding;
}

.Task {
  position: relative;
  overflow: hidden;
  border: 1px solid $border-color;
  margin-bottom: 2 * $padding;
  border-radius: 2px;
  padding-left: $padding;
}




/*
 * SchedulePage
 */

.SchedulePage {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.SchedulePage__dateControls {
  background-color: $bg-color-dark;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}
.SchedulePage__listContainer {
  overflow: auto;
  padding: 0 (6 * $padding);
  padding-top: (4 * $padding);
}
.SchedulePage__list {
}
@media (min-width: $breakpoint-sm) { .SchedulePage__list {
}}
@media (min-width: $breakpoint-md) { .SchedulePage__list {
}}
.SchedulePage__controls {
  padding: (2 * $padding) (6 * $padding);
  background-color: $bg-color-dark;
}

.SchedulePage__members {
  overflow: auto;
}
.SchedulePage__member {
  display: inline-block;
  width: 100px;
  border: 1px solid grey;
  padding: $padding;
  padding-bottom: 0;
}


/*
 * Color
 */

.color {
  content: ' ';
  display: inline-block;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  margin-right: 1em;
  opacity: 0.9;
}
