@import './_variables.scss';
@import './_mixins.scss';

/*
 * Layout
 */

.vbox {
  display: flex;
  flex-direction: column;
}
.hbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.box--align-end {
  justify-content: flex-end;
}
.center {
  @include center;
}
.hcenter {
  @include hcenter;
}
.vcenter {
  @include vcenter;
}
.flex-fill {
  display: flex;
}
.flex-fill>* {
  flex: 1 1 auto;
  min-width: -webkit-max-content !important;;
  min-width:    -moz-max-content !important;;
  min-width:         max-content !important;;
}
.flex-column {
  flex-direction: column;
}
.text-center {
  text-align: center !important;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

.inline {
  display: inline-block;
}
.block {
  display: block;
}
.full {
  width: 100%;
  height: 100%;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}

.padded {
  padding: 2 * $padding;
}
.vpadded {
  padding-top: 2 * $padding;
  padding-bottom: 2 * $padding;
}
.hpadded {
  padding-left: 2 * $padding;
  padding-right: 2 * $padding;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 2*$padding;
  align-items: center;
}
.row > * {
  flex: 0 0 auto;
  margin-right: $padding;
}
.fill {
  flex: 1 1;
}
.static {
  flex: 0 0 auto;
}
.flex-hidden {
  flex: 0 0 0;
  height: 0;
  width: 0;
}
.column {
  display: flex;
  flex-direction: column;
  padding: 2*$padding;
}
.no-padding {
  padding: 0;
}


@media (max-width: $breakpoint-xs) { .xs-hidden { display: none !important; } }
@media (max-width: $breakpoint-sm) { .sm-hidden { display: none !important; } }
@media (max-width: $breakpoint-md) { .md-hidden { display: none !important; } }
@media (max-width: $breakpoint-lg) { .lg-hidden { display: none !important; } }
