@import './_variables.scss';
@import './_mixins.scss';

.Navbar {
  position: relative;
  background-color: $bg-color-dark;
  &.vertical {
    height: 100%;
    border-right: 1px solid $border-color;
  }
  &.horizontal {
    width: 100%;
    border-bottom: 1px solid $border-color;
  }
}
.Navbar:not(.visible) {
  flex-basis: 0;
  transform: translateX(calc(-1 * $sidebar-size));
  overflow: hidden;
  &.vertical {
    width: 0;
  }
  &.horizontal {
    height: 0;
  }
}
.Navbar.visible {
  flex-basis: $sidebar-size;
  transform: translateX(0);
  &.vertical {
    width: $sidebar-size;
  }
  &.horizontal {
    height: $sidebar-size;
  }
}
.Navbar a {
  color: inherit;
  text-decoration: none;
}
.Navbar__title {
  min-width:  $sidebar-size;
  min-height: $sidebar-size;
  padding: 0 2*$padding;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.Navbar__items {
  position: relative;
}
.Navbar__item {
  min-width:  $sidebar-size;
  min-height: $sidebar-size;
  padding: 0 2*$padding;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  transition: all .25s;
}
.Navbar__item:hover, .Navbar__item.active:hover {
  background-color: $hover-bg-color;
}
.Navbar__item.active {
  position: relative;
  background-color: $active-bg-color;
}
.Navbar__icon {
  margin-right: $padding;
}
.Navbar__border {
  position: absolute;
  background-color: $accent-color;
  transition: top .15s, left .15s, height .15s, width .15s;
}
.Navbar.vertical .Navbar__border {
  width: 2px;
  left: $sidebar-size - 1px;
}
.Navbar.horizontal .Navbar__border {
  height: 2px;
  top: $sidebar-size - 1px;
}
.Navbar__fill {
  flex: 1 1;
}


@media (max-width: $breakpoint-xs) {
  .Navbar.horizontal {
    &.visible {
      height: 45px;
    }

    .Navbar__border {
      top: 41px;
    }

    .Navbar__item {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 55px;

      & .Icon {
        margin: 0;
        position: relative;
        top: -6px;
      }
      & .Navbar__label {
        position: absolute;
        font-weight: bold;
        font-size:   10px;
        line-height: 1;
        bottom: 2px;
      }
    }
  }
}
